<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CarManager</title>
    <script src="script.js"></script>
</head>
<body>
<div>
    <a th:href="@{save}"><input type="button" value="Pojazdy"></a>
</div>

<div>

    <a th:href="@{/fuel/save1}"><input type="button" value="Dodaj tankowanie"></a>
</div>
<div>
    <a th:href="@{/register/show}"><input type="button" value="Dziennik tankowań"></a>
</div>
<div>
    <a th:href="@{/summary/show}"><input type="button" value="Statystyki"></a>
</div>

</body>
</html>